@charset "UTF-8";
/*=================중단점=================*/
/*=================여백=================*/
/*=================중단점=================*/
/*=================여백=================*/
.under_320 {
  display: flex;
  align-items: center;
  min-height: 100vh;
}
@media screen and (min-width: 320px) {
  .under_320 {
    display: none;
  }
}
.under_320 .under_320_contents {
  text-align: center;
}
.under_320 .under_320_contents h2 {
  font-size: calc(2px + 10vw);
  color: #fcf8ac;
}
.under_320 .under_320_contents .img_320 {
  width: 50%;
  margin: 0 auto;
  transform: translateX(10%);
}
.under_320 .under_320_contents .img_320 img {
  display: block;
  width: 100%;
  margin-top: 15px;
}
.under_320 .under_320_contents p {
  font-size: calc(2px + 6vw);
  color: white;
  line-height: 1.5em;
  margin-top: 20px;
}

.bighead {
  display: none;
}
@media screen and (min-width: 320px) {
  .bighead {
    display: block;
    text-align: center;
    width: 100%;
    overflow: hidden;
  }
}
@media screen and (min-width: 768px) {
  .bighead {
    min-height: 100vh;
  }
}
.bighead .intro_flex {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .bighead .intro_flex {
    flex-direction: row;
    justify-content: space-between;
  }
}
.bighead .title_area {
  margin-top: 60px;
  color: #fcf8ac;
}
@media screen and (min-width: 768px) {
  .bighead .title_area {
    width: 40%;
    margin-top: 150px;
  }
}
@media screen and (min-width: 1400px) {
  .bighead .title_area {
    width: 580px;
    margin-top: 120px;
  }
}
.bighead .title_area .h1_flex {
  display: flex;
  align-items: center;
  width: fit-content;
  margin: 0 auto;
}
@media screen and (min-width: 1400px) {
  .bighead .title_area .h1_flex {
    margin-left: 0;
  }
}
.bighead .title_area .h1_flex .bighead_title {
  position: relative;
  font-family: "ImcreSoojin";
  font-size: calc(24px + 6vw);
  margin-right: 15px;
  animation: opacity-title 1.5s ease-out 0s 1 normal forwards;
}
@media screen and (min-width: 768px) {
  .bighead .title_area .h1_flex .bighead_title {
    font-size: calc(24px + 4vw);
    margin-right: 20px;
  }
}
@media screen and (min-width: 1400px) {
  .bighead .title_area .h1_flex .bighead_title {
    font-size: 80px;
    margin-right: 15px;
  }
}
.bighead .title_area .h1_flex .bighead_title::after {
  content: "KIDCAT";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
  color: #e87d9e;
  animation: offset_letter 2.2s ease-out 0s 1 normal forwards;
}
.bighead .title_area .h1_flex .svg_kitty svg {
  height: calc(24px + 6vw);
  animation: opacity-title 1.5s ease-out 0s 1 normal forwards;
}
@media screen and (min-width: 768px) {
  .bighead .title_area .h1_flex .svg_kitty svg {
    height: calc(24px + 4vw);
  }
}
@media screen and (min-width: 1400px) {
  .bighead .title_area .h1_flex .svg_kitty svg {
    height: 80px;
  }
}
.bighead .title_area .h1_flex .svg_kitty svg path {
  fill: #fcf8ac;
}
.bighead .title_area .h1_flex .svg_kitty svg polygon {
  fill: #fcf8ac;
}
.bighead .title_area .bighead_semi_title {
  width: fit-content;
  margin: 0 auto;
  position: relative;
  font-family: "ImcreSoojin";
  font-size: calc(22px + 4vw);
  margin-top: 15px;
  animation: opacity-title 1.5s ease-out 0s 1 normal forwards;
}
@media screen and (min-width: 768px) {
  .bighead .title_area .bighead_semi_title {
    margin-top: 20px;
    font-size: calc(18px + 2vw);
  }
}
@media screen and (min-width: 1400px) {
  .bighead .title_area .bighead_semi_title {
    margin-top: 30px;
    font-size: 54px;
    margin-right: 0;
  }
}
.bighead .title_area .bighead_semi_title::after {
  content: "5X5 TIC TAC TOE";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
  color: #e87d9e;
  animation: offset_letter 2.2s ease-out 0s 1 normal forwards;
}
.bighead .illust_area {
  transform-origin: center bottom;
  margin-top: 120px;
  position: relative;
  width: 100%;
  min-height: calc(200px + 80vw);
}
@media screen and (min-width: 768px) {
  .bighead .illust_area {
    margin-top: 0;
    width: 60%;
    min-height: 100vh;
  }
}
@media screen and (min-width: 1400px) {
  .bighead .illust_area {
    width: 780px;
  }
}
.bighead .illust_area .illusts {
  bottom: 0;
}
.bighead .illust_area .illusts > img {
  display: block;
  position: absolute;
  z-index: 2;
}
.bighead .illust_area .illusts > img.window {
  width: 45%;
  top: 3%;
  left: 20%;
}
.bighead .illust_area .illusts > img.pf1 {
  width: 15%;
  top: 3%;
  right: 15%;
}
.bighead .illust_area .illusts > img.pf2 {
  width: 10%;
  top: 12%;
  right: 3%;
}
.bighead .illust_area .illusts > img.stools {
  width: 25%;
  bottom: 3%;
}
.bighead .illust_area .illusts > img.plant {
  width: 20%;
  bottom: 3%;
  right: 0;
}
.bighead .illust_area .illusts .kitty_stools {
  position: absolute;
  bottom: 3%;
  left: 30%;
  width: 50%;
  z-index: 2;
}
.bighead .illust_area .illusts .kitty_stools img {
  width: 100%;
  display: block;
}
.bighead .illust_area .illusts .kitty_stools img:last-child {
  width: 30%;
  position: absolute;
  top: 20%;
  left: 12%;
  transform-origin: center bottom;
  animation: kitty_head_ani 5s infinite linear;
}

.btn_grp {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  margin-top: 60px;
}
@media screen and (min-width: 500px) {
  .btn_grp {
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
  }
}
@media screen and (min-width: 768px) {
  .btn_grp {
    flex-direction: column;
    justify-content: baseline;
  }
}
@media screen and (min-width: 1080px) {
  .btn_grp {
    flex-direction: row;
    justify-content: space-between;
  }
}

.button {
  opacity: 0;
  font-family: "ImcreSoojin";
  font-style: normal;
  line-height: 23px;
  color: #fcf8ac;
  padding: 0.5em;
  font-size: calc(12px + 2vw);
  background-color: transparent;
  border: 3px solid #fcf8ac;
  border-radius: 1000px;
  cursor: pointer;
  transition: background-color 0.1s linear, transform 0.1s linear;
  animation: opacity-btn 2s ease 0s 1 normal forwards;
}
@media screen and (min-width: 500px) {
  .button {
    width: 45%;
    font-size: calc(12px + 3vw);
  }
}
@media screen and (min-width: 768px) {
  .button {
    width: 100%;
    font-size: calc(12px + 1vw);
  }
}
@media screen and (min-width: 1080px) {
  .button {
    width: 45%;
    padding: 0.75em;
    font-size: calc(10px + 1vw);
  }
}
@media screen and (min-width: 1400px) {
  .button {
    font-size: 28px;
  }
}
.button:nth-child(n+2) {
  margin-top: 25px;
}
@media screen and (min-width: 500px) {
  .button:nth-child(n+2) {
    margin-top: 0;
  }
}
@media screen and (min-width: 768px) {
  .button:nth-child(n+2) {
    margin-top: 25px;
  }
}
@media screen and (min-width: 1080px) {
  .button:nth-child(n+2) {
    margin-top: 0;
  }
}
.button:hover {
  background-color: #fcf8ac;
  transition: all 0.5s linear;
  color: #000620;
}
.button:active {
  background-color: #e87d9e;
}

.bottom {
  display: none;
}
@media screen and (min-width: 320px) {
  .bottom {
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 50px;
    background-color: #fcf8ac;
  }
}