@import './style.scss';
@import './mixin.scss';

.cover {
    position: absolute;
    top: 0;
    left: 0;
    right: 100%;
    bottom: 0;
    z-index: 1000;

    background-color: #000620;
    animation: cover-body 1.5s ease-in-out 0s 1 normal forwards;
}

.bighead_board {
    animation: opacity-title 1.7s ease-out 0s 1 normal forwards;

    .kitty {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        margin-top: $small_margin_p;
    
        .title {
            display: flex;
            font-size: calc(6px + 4vw);
            line-height: 38px;
            text-align: center;
    
            @include responsive(tablet-cat) {
                font-size: calc(12px + 2vw);
            }
    
            @include responsive(semi-cat) {
                font-size: 40px;
            }
    
            &_cat {
                color: $personal;
            }
    
            &_comp {
                color: $second;
            }
        }
    
        .semi_title {
            
            color: white;
            width: fit-content;
    
            display: flex;
            flex-direction: row;
            align-items: center;
    
            margin-top: $tiny_margin_p;
    
            @include responsive(tablet-cat) {
                margin-top: $tiny_margin_t;
            }
    
            @include responsive(pc-cat) {
                font-size: 24px;
                margin-top: $tiny_margin_p;
            }
    
            p {
                margin-left: 0.5em;
                font-size: calc(1vw + 8px);
    
                @include responsive(tablet-cat) {
                    font-size: calc(1vw + 12px);
                }
    
                @include responsive(semi-cat) {
                    font-size: 24px;
                }
    
    
            }
    
            span {
                display: block;
    
                svg {
                    height: 1.5em;
                    
                    path {
                        fill: white;
                    }
                }
            }
        }
    
        .main_table {

                width: 320px;
                height: 320px;
    
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            margin-top: $mezo_margin_p;
    
            @include responsive(tablet-cat) {
                width: 450px;
                height: 450px;
            }
    
            @include responsive(semi-cat) {
                width: 600px;
                height: 600px;
            }
        }
    }

    .nyan {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: background-color .5s ease-out;
        background-color: transparent;
        border: 1px solid rgba($color: #ffffff, $alpha: 0.6);
    
        &_hover:hover {
            background-color: #383c4d;
        }
    
        &_error {
            animation: error .6s ease-in-out 0s 1 normal forwards;
        }
    
        &>span {
            visibility: hidden;
        }
    
    
        &:nth-child(-n+5) {
            border-top: 0px;
        }
    
        &:nth-child(5n+1) {
            border-left: 0px;
        }
    
        &:nth-child(5n) {
            border-right: 0px;
        }
    
        &:nth-child(n+21) {
            border-bottom: 0px;
        }
    
    }
    
    .icon_cross {
        position: absolute;
        top: 50%;
        right: 50%;
        font-size: 3.5em;
        color: #fcf8ac;
        transform: translate(50%, -41%);
    
        @include responsive(tablet-cat) {
            font-size: 4em;
        }
    
        @include responsive(semi-cat) {
            font-size: 5.5em;
        }
    }
    
    
    .icon_circle {
        position: absolute;
        top: 50%;
        right: 50%;
        font-size: 3.5em;
        color: #e87d9e;
        transform: translate(50%, -41%);
    
        @include responsive(tablet-cat) {
            font-size: 4em;
        }
    
        @include responsive(semi-cat) {
            font-size: 5.5em;
        }
    }

    .btn_grp_plus {
        flex-direction: column !important;
        margin-bottom: $small_margin_p;

        @include responsive(tablet-cat) {
            flex-direction: row !important;
            width: 500px !important;
            margin-bottom: $small_margin_t;

        }

        @include responsive(semi-cat) {
            width: 600px !important;
            margin-bottom: $small_margin_h;
            
        }
        
        .button {
            width: 100% !important;
            max-width: 320px !important;
            margin: 0 auto !important;


            @include responsive(tablet-cat) {
                width: 230px !important;
                padding: 0.75em 0 !important;

            }

            @include responsive(semi-cat) {
                width: 270px !important;

            }

            &:nth-child(n+2) {
                margin-top: $small_margin_p !important;
    
        
                @include responsive(tablet-cat) {
                    margin-top: 0 !important;
                }
        
                @include responsive(semi-cat) {
                    //
                }
            }

        };
    }


    
}



