//------------------톤앤매너------------------//
$personal: #fcf8ac;
$second: #e87d9e;
$third: #fffa5e;
$background: #000620;
$error: #ff0051;

/*=================중단점=================*/
$break-mobile: '320px';
$break-m500: '500px';
$break-tablet: '768px';
$break-t1080: '1080px';
$break-semipc: '1400px'; 

/*=================여백=================*/


$tiny_margin_p: 15px;
$tiny_margin_t: 20px;
$tiny_margin_h: 30px;

$small_margin_p: 25px;
$small_margin_t: 35px;
$small_margin_h: 50px;

$mezo_margin_p: 60px;
$mezo_margin_t: 80px;
$mezo_margin_h: 120px;

$mid_margin_p: 75px;
$mid_margin_t: 90px;
$mid_margin_h: 150px;

$big_margin_p: 120px;
$big_margin_t: 150px;
$big_margin_h: 200px;

$grand_magin_p: 200px;
$grand_magin_t: 250px;
$grand_magin_h: 350px;

